{% extends "layout.html" %}

{% block main %}
<main>
    <form action="/register" method="post" class="center">
        <div class="form-group input">
            <input autocomplete="off" autofocus class="form-control input-text" name="name" placeholder="Username" type="text" required>
        </div>
        <div class="form-group input">
            <input class="form-control input-text" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="form-group input">
            <input class="form-control input-text" name="re-password" placeholder="Reconfirm Password" type="password" required>
        </div>
        <button class="btn btn-primary my-button" type="submit">Register </button>
    </form>
</main>
{% endblock %}